/*
* @Author: scottxiong
* @Date:   2020-12-24 22:47:59
* @Last Modified by:   scottxiong
* @Last Modified time: 2020-12-24 22:52:49
*/
.right .nav .myAdd{
	display: inline-block;
	color: #f60;
}

.modal-body #rec .box {
	height: 30px;
}

.modal-body #rec .box .title {
	float: left;
	margin-top: 4px;
	font-size: 14px;
}

.modal-body #rec .box .name {
	float: left;
	width: 480px;
}
.modal-body #rec .box .name input {
	width: 480px;
	 outline:none;
	  border: 1px solid #ccc;
	  padding: 3px 6px;
	  border-radius: 3px;
	  font-family: "Arial";
	  font-size: 14px;
	  opacity: 0.8;
}