.admin-setting {
	padding: 10px 15px 0 30px;
}

.admin-setting .item .name {
	float: left;
	text-align: right;
	width: 136px;
	padding-top: 8px;
}

.admin-setting .row {
	border: 1px solid #ccc;
	padding: 10px 20px;
	margin-right: 0px;
	border-radius: 5px;
}
.admin-setting .item .right {
	float: left;
	outline: none;
	resize: none;
	width: 50px;
	height:20px;
}

.admin-setting h3 {
	font-size: 17px;
	color: #43B96E;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 6px;
}

.admin-setting h4 {
	font-size: 15px;
	color: #43B96E;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 6px;
	margin-left: 20px;
}

.admin-setting .item .name {
	font-family: sans-serif;
	font-size: 15px;
	opacity: .9;
}

.admin-setting .me {
	margin-bottom: 6px;
}


.admin-setting .item span {
	opacity: 0.7;
	font-size: 14px;
}

.admin-setting .item img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-left: 10px;
	cursor: pointer;
}

.admin-setting .item img:hover{
	opacity: 0.9;
	/*transform: rotateY(180deg);*/
}

.admin-setting .item .value input[type='text'] {
	height: 30px;
	width: 700px;
	box-sizing: border-box;
	padding: 5px 10px;
	color: #454545;
	background: #F1F2F7;
	opacity: 0.9;
	outline: none;
}

.admin-setting .item .value input[type='text']:hover {
	border: 1px solid #ccc;
	border-radius: 3px;
}

 *{border:none;margin:0px;padding:0px;}
.number{ padding: 36px 0 28px;width:400px;margin:auto}
.mui-numbox{ display: inline-block;}
.minus{width: 30px; height: 30px; text-align: center; background: #F1F2F7; color: #9e9e9e;} 
.minus:hover{
	border: none;
	outline: none;
}
.numbox{border-top: solid 1px #eaeaea; border-bottom: solid 1px #eaeaea; height: 28px; width:35px; color: #333333; margin-left:-8px; text-align: center; background: transparent;}
.numbox::textfield-decoration-container {
   
}
.numbox::-webkit-inner-spin-button {
     -webkit-appearance: none;
}
.numbox::-webkit-outer-spin-button {
     -webkit-appearance: none;	/* 有无看不出差别 */
}
.plus { margin-left: -8px;}